.About {
  color: white;
  margin: 5px 17px;
}

.About .plot,
.cast {
  margin: 20px 0;
  text-align: left;
}

@media (max-width: 990px) {
  .About .plot,
  .cast {
    margin-bottom: 5px;
    text-align: center;
  }

  .About .plot {
    margin-top: 25px;
  }
}
