.App {
  background: #0a0b0d;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1100px;
  padding: 10px 10px;
}

.App .background-img {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("images/background-img.png");
  background-size: cover;
  border-radius: 10px;
  color: white;
  height: 200px;
  max-width: 100%;
}

.App footer {
  background: #313131;
  border-radius: 5px;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

.App a {
  color: #f5c519;

  text-decoration: none;
}

.App a:hover {
  color: white;
  text-decoration: none;
}
