.Movies {
  padding: 5px 10px;
  margin: 20px 20px;
}

.Movies h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.Movies .search-bar {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 10px;
  width: 100%;
}

.Movies .btn-branding {
  margin: 0;
  padding: 10px 10px;
  border-radius: 10px;
  color: gray;
  width: 100%;
  border: 1px solid gray;
}

.Movies .Loading {
  display: flex;
  justify-content: center;
}
