.Movies {
  padding: 5px 10px;
  margin: 10px 10px;
  color: white;
}

.Movies h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}

.Movies .search-bar {
  border-radius: 10px;
  border: 1px solid gray;
  margin: 0 14px;
  padding: 10px 10px;
  width: 100%;
}

.Movies .btn-branding {
  border: 1px solid #f5c519;
  background: #f5c519;
  border-radius: 10px;
  color: black;
  padding: 10px 10px;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.Movies .btn-branding:hover {
  color: white;
  background: #f5c519;
}

.Movies .Loading {
  display: flex;
  justify-content: center;
}

@media (max-width: 990px) {
  .Movies .search-bar {
    margin: 0;
    margin-bottom: 5px;
  }
}
