.Results {
  padding-top: 10px;
  margin: 5px 10px;
  color: white;
}

.Results .movie {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
}

.Results .rating {
  font-weight: bolder;
  font-size: 20px;
  text-align: right;
  line-height: 5;
  opacity: 0.5;
}

.Results i {
  color: #f5c519;
  opacity: 0.9;
}

.Results p {
  font-size: 18px;
  margin-bottom: 0;

  position: relative;
  top: -20px;
  text-align: left;
}

@media (max-width: 990px) {
  .Results .movie {
    text-align: center;
    margin-bottom: 0;
  }

  .Results .rating {
    text-align: center;
    margin-bottom: 0;
  }

  .Results p {
    text-align: center;
    margin-bottom: 0;
  }
}
